body {
    margin-left: 20%;
}

.header, .quantity, .product, .drink {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

img {
    max-width: 20%;
    margin-right: 0;
}

table, td, th {
    border: 1px solid black;
    border-radius: 3px;
}

table {
    margin: 10px;
}

th {
    padding: 10px;
}

td {
    text-align: center;
    padding: 5px;
}

button {
    margin: 5px;
}

p {
    max-width: 300px;
    margin: 10px;
    text-align: justify;
}

select {
    padding: 5px;
}

.component-container {
    display: flex;            
    justify-content: space-between;  
    align-items: flex-start;   
    gap: 20px;                 
    margin: 20px;
  }
  
.component-container > div {
    flex: 1;                   
    padding: 20px;
    background-color: #f9f9f9; 
    border: 1px solid #ccc;
    border-radius: 8px;
  }