body {
    margin-left: 20%;
}

.header, .quantity, .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

img {
    max-width: 20%;
    margin-right: 0;
}

table, td, th {
    border: 1px solid black;
    border-radius: 3px;
}

table {
    margin: 10px;
    background-color: black;
}

th {
    background-color: white;
    padding: 10px;
}

td {
    background-color: white;
    text-align: center;
    padding: 5px;
}

button {
    margin: 5px;
}

p {
    margin: 10px;
}

select {
    border: 5px solid black;
    padding: 5px;
}
